@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cloud Tools and Technology Project</h1>
    <p>
    </p>
    <h1 class="display-4">Developers</h1>
    <p> 
    </p>
    <p> Tolias Konstantinos : ktolias@athtech.gr</p>
    <p> 
    </p>
    <p> Sotirios Tsoulos    : stsoulos@athtech.gr </p>
    <p> 
    </p>
    <p> Emmanouil Troulakis : etroulakis@athtech.gr</p>
    
    <p>Learn more</p>
    <p> </p>
    <p><a href="https://codehub.gr/courses/digiyouth-iii-regeneration-academy-on-cloud-tools-technology-powered-by-microsoft/">Code Hub</a>.</p>
    <p><a href="https://www.regeneration.gr/">Regeneration</a>.</p>
    <p><a href="https://www.microsoft.com/el-gr/"> Microsoft </a>.</p>
</div>
